<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do App</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div class="box">
        <h1 id="heading"> <%= Title %> </h1>
    </div>
    <div class="box">
        <% itemsTotal.forEach((eachItem)=>{ %>
            <form action="/delete" method="post">
                <div class="item">
                    <input type="checkbox" value="<%= eachItem._id%>" name="checkbox" onchange="this.form.submit()">
                    <p><%= eachItem.work %></p>
                </div>
                <input type="hidden" name="pagename" value="<%= Title %>">
            </form>
        <%})%>
         <form action="/" method="post" class="form-submit">
            <input type="text" name="item" placeholder="Add Item" autocomplete="off">
            <button type="submit" name="page" value="<%= Title %>">+</button>
        </form>
    </div>
    <div class="footer">
        <%- include("footer"); -%>
    </div>

</body>
</html>